---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";

export interface Propiedad {
    ID: number; 
    title: string;
    slug: string; 
    direccion: string; 
    descripcion: string;
    moneda: string;
    precio: number;
    precio_uf: number;
    tamano_construido: number;
    dormitorios: number;
    banos: number; 
    imagen_destacada: {
        thumbnail: string;
        medium: string;
        large: string;
        full: string;
    };
    tipo: string;
    operacion: string;
    ubicacion: string;
}

export const getStaticPaths = (async () => {
  const response = await fetch(`${import.meta.env.FRONTEND_URL}/wp-json/custom/v1/propiedades/`);
  const data = await response.json();
  return data.map((element: Propiedad) => ({
    params: { slug: element.slug },
    props: element,
  }));
}) satisfies GetStaticPaths;

const {
  props: {
    ID, 
    title,
    slug, 
    direccion, 
    descripcion, 
    moneda,
    precio,
    precio_uf,
    tamano_construido, 
    dormitorios, 
    banos, 
    imagen_destacada, 
    tipo, 
    operacion, 
    ubicacion 
  },
}: { props: Propiedad } = Astro;
---

<Layout
  url={`http://localhost:4321/propiedad/${slug}`}
  title={`${title} | Astro Propiedades`}
  description={descripcion}
  image={imagen_destacada}
>
    <section class="py-20">
        <div class="max-w-screen-2xl px-4 mx-auto flex flex-col gap-4">
            <!-- Imagen -->
            <div class="w-full h-96 rounded-md overflow-hidden relative">
                <img 
                  src={imagen_destacada.large} 
                  alt={title} 
                  loading="lazy"
                  class="absolute top-0 left-0 w-full h-full object-cover object-center"
                  transition:name={`propiedad-image-${ID}`}
                >
            </div>
            <!-- Titulo -->
            <h1 class="text-slate-800 text-4xl font-black">{title}</h1>
            {moneda === 'peso' ? (
                <h4 class="text-slate-600 font-bold">${precio}</h4>
                ) : (
                <h4 class="text-slate-600 font-bold">UF {precio_uf}</h4>
            )}
            <!-- Descripcion -->
            <p>{descripcion}</p>
            <div class="flex flex-col items-center gap-2">
            </div>
            <!-- Datos -->
            <div class="flex items-center gap-4">
                {tamano_construido && (
                  <div class="flex items-center gap-2">
                    <svg class="size-4 text-orange-600" viewBox="0 0 24 24">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 3.098s-3.966-.356-4.612.29S3.098 8 3.098 8M8 20.902s-3.966.356-4.612-.29S3.098 16 3.098 16M16 3.098s3.966-.356 4.612.29s.29 4.612.29 4.612M16 20.902s3.966.356 4.612-.29s.29-4.612.29-4.612M14.01 9.998l6.053-6.051M9.997 14.002L3.64 20.381m6.357-10.379L3.846 3.86M13.98 14.002l6.548 6.496" color="currentColor"/>
                    </svg>
                    <span>{tamano_construido}mt2</span>
                  </div>
                )}
                {dormitorios && (
                  <div class="flex items-center gap-2">
                    <svg class="size-4 text-orange-600" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M4.77 18h-.54l-.38-2H3v-3.39q0-.671.472-1.14q.472-.47 1.144-.47H5V8.615q0-.67.472-1.143Q5.944 7 6.616 7h10.769q.67 0 1.143.472q.472.472.472 1.143V11h.385q.67 0 1.143.472q.472.472.472 1.144V16h-.85l-.38 2h-.54l-.38-2H5.15zm7.73-7H18V8.615q0-.269-.173-.442T17.385 8H12.5zM6 11h5.5V8H6.616q-.27 0-.443.173T6 8.615zm-2 4h16v-2.384q0-.27-.173-.443T19.385 12H4.615q-.269 0-.442.173T4 12.616zm16 0H4z"/>
                  </svg>
                  <span>{dormitorios}</span>
                </div>
                )}
                {banos && (
                  <div class="flex items-center gap-2">
                    <svg class="size-4 text-orange-600" viewBox="0 0 24 24">
                      <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        <path d="M21 13v3a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4v-2.4a.6.6 0 0 1 .6-.6zm-5 7l1 2m-9-2l-1 2m14-9V7a4 4 0 0 0-4-4h-5"/>
                        <path d="M15.4 8H8.6c-.331 0-.596-.268-.56-.598C8.186 6.075 8.863 3 12 3s3.814 3.075 3.96 4.402c.036.33-.229.598-.56.598"/>
                      </g>
                    </svg>
                    <span>{banos}</span>
                  </div>
                )}
              </div>
        </div>
    </section>
</Layout>
